{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "17"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/no-unknown-property": "off",
    "camelcase": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-underscore-dangle": "off",
    "@typescript-eslint/indent": "off"
  },
  "extends": [
    "airbnb-typescript",
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react",
    "plugin:jsx-a11y/strict"
  ],
  "plugins": ["@typescript-eslint", "prettier", "jsx-a11y"]
}
