@import '/src/assets/scss/_breakpoints';

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  padding: 50px 40px;
  border-radius: 10px 0 0 10px;
  background-color: #111111;
  @include mobile() {
    border-radius: 10px 10px 0 0;
    padding: 30px 25px;
    width: 100%;
  }

  .left-side__header {
    color: white;
    margin: 0;
  }
  .left-side__description {
    color: white;
    margin: 0;
    margin-top: 15px;
    font-size: 15px;
    font-weight: normal;
  }

  .left-side__calculation__price {
    margin-top: 20px;
    display: block;
    color: white;
    word-wrap: break-word;
    font-size: 50px;
    font-weight: bold;
    @include mobile() {
      font-size: 30px;
      margin-top: 10px;
    }
  }

  .left-side__calculation__description {
    display: block;
    font-size: 20px;
    margin-top: 50%;
    color: white;
    @include mobile() {
      margin-top: 20%;
    }
  }
}
