@import '/src/assets/scss/_breakpoints';
.default-layout {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet() {
    padding: 10%;
  }
  @include mobile() {
    padding: 1% 2%;
  }

  .default-layout__background-image {
    position: absolute;
    object-fit: cover;
    max-height: 70%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }
}
.footer {
  background-color: #f1f1f1;
  padding: 3% 17.5%;
  @include mobile() {
    padding: 5% calc(25px + 1%);
  }
  .footer__branding {
    .footer_branding__author {
      margin: 10px 0 0 0;
      font-size: 14px;
      color: rgb(82, 82, 82);
      a:link,
      a:visited {
        text-decoration: none;
        font-weight: bold;
        color: rgb(231, 123, 0);
        margin: 0;
      }
    }
    .footer__branding__email {
      margin: 0;
    }
  }
}
