@import '/src/assets/scss/_breakpoints';
.default-layout {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet() {
    padding: 10%;
  }
  @include mobile() {
    padding: 5%;
  }

  .default-layout__background-image {
    position: absolute;
    object-fit: cover;
    max-height: 70%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }
}
