@import '/src/assets/scss/_breakpoints';
.contactform {
  background: white;
  border-radius: 10px;
  margin-top: 100px;
  @include mobile() {
    margin-top: 50px;
  }
  width: 100%;
  padding: 5% 10%;
  h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
  p {
    font-weight: bold;
  }
  form {
    width: 80%;
    @include mobile() {
      width: 100%;
    }
    margin: 50px auto;

    .inputgroup {
      text-align: left;
      margin-top: 30px;
    }
    .input {
      display: block;
      width: 100%;
      margin-top: 5px;
      border: none;
      border-bottom: 2px solid gray;
      flex: 1;
      font-size: 16px;
      padding: 18px 5px;
    }
    textarea {
      display: none;
    }
    .submit {
      transition: background-color 0.5s ease-out;
      cursor: pointer;
      margin-top: 35px;
      border-radius: 5px;
      border: none;
      color: white;
      font-size: 18px;
      padding: 15px 25px;
      background: black;
      &:hover {
        background-color: rgb(231, 123, 0);
      }
    }
  }
}
